*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal-btn__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.modal-btn__wrapper.hide {
    visibility: hidden;
    width: 0;
    height: 0;
}

.modal-btn {
    font-size: 16px;
    padding: 0.5em;
}

.modal {
    display: none;
    width: 80%;
    height: 50%;
    background-color: lightskyblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.request-btn {
    font-size: 16px;
    padding: 0.5em;
}

.close-btn {
    display: block;
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    position: absolute;
    top: 5%;
    right: 5%;
}

.close-btn__icon {
    display: block;
    width: 24px;
    height: 2px;
    background-color: black;
    transform: rotate(45deg);
}

.close-btn__icon::after {
    content: '';
    display: block;
    width: 24px;
    height: 2px;
    background-color: inherit;
    transform: rotate(90deg);
}
